*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: url("../assets/images/bg-1.jpg");
    background-size: cover;
}

.container{
    max-width: 700px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #fff;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    height: 3px;
    width: 30px;
    background: rgba(56, 204, 93, 0.7);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    color: #fff;
    
}

.user-details .input-box label.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}


form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #d9d9d9;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: rgba(56, 204, 93, 0.7);
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
    outline: none;
    color: rgb(209, 209, 209);
    width: 100%;
    background: rgba(63, 114, 76, 0.7);
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.3s ease;
}

form .button:hover{
    background: rgba(56, 204, 93, 0.7);
    color: #fff;
}

.input-error{
    color: #ff0000;
    font-weight: 500;
    font-size: 14px;
    margin-top: 3px;
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
        
    }

    form .gender-details .category{
        width: 100%;
    }

    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .hide-scroll::-webkit-scrollbar{
        display: none;
    }

    .hide-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
}